# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.ds_store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare & Environment
.env
.env.local
.env.*.local
.wrangler
